body {
    background-color:gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container{
    width: 640px;
    margin: auto;
    padding: 50px;
    background-color: #FFF;
    border-radius: 3px;   
}

.container h1 {
    color: rgb(186, 0, 0);
    text-align: center;
}
.container h2 {
    text-align: center;
}

.steps {
    text-align: left;
}

.red {
    color: rgb(252, 8, 8);
    text-align: center;
}